@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap'); 
      
h1 {
    text-align: center;
    
   font-family: 'Merienda', cursive; color: gold; text-transform: uppercase;
}

.register{
    text-align: right;
}

div>a {
    text-decoration: none;
    /* color: #555; */
    color: rgb(230, 221, 207);
	 font-family: 'Kaushan Script', cursive;
}

footer{
    margin-top: auto;
color: white;
}

p{
  color: wheat; 
  font-size: large;
   font-family: 'Kaushan Script', cursive;
}

button {
    width: 100px;  
    height: 30px;  
    margin-left: 35px;
    border: none;  
    border-radius: 13px;  
    /* padding-left: 7px;   */

}

button>a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-family: 'Comic Neue', cursive; 
    /*  font-family: 'Kaushan Script', cursive;*/
}

#rent{
    text-align: center;
   font-family: 'Comic Neue', cursive; 
 	
}